.source-wrapper {
	font-size: 20px;
	text-align: center;
}

#sources {
	font-size: 18px;
}

#news {
	width: 80%;
	margin: 0 auto;
}

#get-more {
	margin: 20px auto;
	display: block;
	font-size: 20px;
	cursor: pointer;
}

.article {
	padding: 20px 0;
	border-bottom: 2px solid gray;
	font-size: 0;
}

.title {
	margin-top: 0;
}

.image {
	display: inline-block;
	width: 20vw;
	font-size: 16px;
}

.content-wrapper {
	display: inline-block;
	width: calc(100% - 20vw);
	margin: 0;
	padding-left: 10px;
	font-size: 16px;
	vertical-align: top;
	box-sizing: border-box;
}

.content {
	margin: 0;
}

@media screen and (max-device-width: 1000px), screen and (max-width: 1000px) {
	.image {
		width: 200px; /*analog for min-width*/
	}

	.content-wrapper {
		width: calc(100% - 200px);
	}
}

@media screen and (max-device-width: 600px), screen and (max-width: 600px) {
	.image {
		width: 100%;
	}

	.content-wrapper {
		width: 100%;
		padding-left: 0;
		padding-top: 10px;
	}
}